1.monolith/node_modules
1.monolith/package-lock.json
2.container/node_modules
2.container/package-lock.json
2.container/imagepush.sh.bak
2.container/manifest/pod.yaml
2.container/manifest/deploy.yaml.bak
3.msa-container/api/node_modules
3.msa-container/api/package-lock.json
3.msa-container/api/imagepush.sh.bak
3.msa-container/post/node_modules
3.msa-container/post/package-lock.json
3.msa-container/post/imagepush.sh.bak
3.msa-container/threads/node_modules
3.msa-container/threads/package-lock.json
3.msa-container/threads/imagepush.sh.bak
3.msa-container/users/node_modules
3.msa-container/users/package-lock.json
3.msa-container/users/imagepush.sh.bak
3.msa-container/web/node_modules
3.msa-container/web/package-lock.json
3.msa-container/web/imagepush.sh.bak
3.msa-container/push.sh.bak
3.msa-container/manifest/external-dns-rbac.yaml
3.msa-container/manifest/external-dns-notrbac.yaml
3.msa-container/manifest/deploy.yaml.bak
